@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex-center {
  justify-content: space-around;
}

.parents {
  height: auto;
  width: 50vw;
  background-color: rgb(214, 224, 228);
  margin: 0 auto;
}

.parent {
  padding: 20px;
  border-radius: 16px;
}

.leidos {
  height: auto;
  width: 300px;
  background-color: palevioletred;
}

.no-leidos {
  height: auto;
  width: 300px;
  background-color: rgb(255, 241, 47);
}

.parents-title {
  padding: 20px;
}

.input {
  padding: 10px;
}

.button {
  padding: 5px;
}

.contextName {
  display: flex;
  padding: 15px;
}
.name {
  margin-right: 10px;
}

.context-title {
  padding-bottom: 15px;
}

.nombres-title {
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  background-color: rgb(197, 231, 247);
  margin-top: 5px;
}

.libros {
  text-align: left;
}

.libro {
  margin-bottom: 10px;
}

.check {
  margin-left: 10px;
}
